#green
{
margin-top: 20px;
margin-bottom: 20px;
}
#white
{
margin-top: 20px;
margin-bottom: 20px;
}
#red
{
margin-top: 20px;
margin-bottom: 20px;
}
#orange
{
margin-top: 20px;
margin-bottom: 20px;
}
#blue
{
margin-top: 20px;
margin-bottom: 20px;
}
#yellow
{
margin-top: 20px;
margin-bottom: 20px;
}
#green.png
{
display: none;
margin-top: 20px;
margin-bottom: 20px;
}
#blue.png
{
display: none;
margin-top: 20px;
margin-bottom: 20px;
}
#white.png
{
display: none;
margin-top: 20px;
margin-bottom: 20px;
}
#red.png
{
display: none;
margin-top: 20px;
margin-bottom: 20px;
}
#yellow.png
{
display: none;
margin-top: 20px;
margin-bottom: 20px;
}
#orange.png
{
display: none;
margin-top: 20px;
margin-bottom: 20px;
}